/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
* {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-Grey-light-1: #faf9f9;
  --color-Grey-light-2: #f4f2f2;
  --color-Grey-light-3: #f0eeee;
  --color-Grey-light-4: #ccc;
  --color-Grey-dark-1: #333;
  --color-Grey-dark-2: #777;
  --color-Grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --border-radius-round: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-Grey-dark-1);
  background-image: linear-gradient(to right bottom, var(--color-primary-dark), var(--color-primary));
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 100%;
  margin: 2rem 4rem;
  background-color: transparent;
  border-radius: var(--border-radius-round);
  min-height: 50rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  font-size: 1.4rem;
  background-color: #fff;
  border-radius: var(--border-radius-round);
  border-bottom: 1px solid var(--color-Grey-light-2);
  box-shadow: var(--shadow-dark);
  margin-bottom: 0.5rem;
  padding: 0 0rem 0rem 3rem;
}

.contant {
  display: flex;
}

.sidebar {
  background-color: var(--color-Grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--shadow-dark);
  margin-right: 0.5rem;
  flex: 0 0 18%;
  border-radius: var(--border-radius-round);
}

.hotel-view {
  background-color: #fff;
  box-shadow: var(--shadow-dark);
  flex: 1;
  height: 88rem;
  border-radius: var(--border-radius-round);
}

.logo {
  height: 3.2rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--color-Grey-light-2);
  border: none;
  color: inherit;
  padding: 0.7rem 2rem;
  border-radius: var(--border-radius-round);
  width: 90%;
  transition: all 0.2s;
  margin-right: -2.5rem;
}
.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--color-Grey-light-3);
}
.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-Grey-light-4);
}
.search__input:focus + .search__button {
  background-color: var(--color-Grey-light-3);
}
.search__button {
  border: none;
  background-color: var(--color-Grey-light-2);
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}
.search__icon {
  width: 2rem;
  height: 2rem;
  fill: var(--color-Grey-dark-2);
}

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in;
}
.user-nav > *:hover {
  background-color: var(--color-Grey-light-2);
  border-radius: 10%;
}
.user-nav__icon-box {
  position: relative;
}
.user-nav__icon {
  width: 2.25rem;
  height: 2.25rem;
  fill: var(--color-Grey-dark-2);
}
.user-nav__notification {
  font-size: 0.8rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 100px;
  background-color: var(--color-primary);
  color: #fff;
  position: absolute;
  top: 1.5rem;
  right: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-nav__user {
  padding-right: 3rem;
}
.user-nav__user-photo {
  height: 3.75rem;
  border-radius: 50%;
  margin: 0 1rem;
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
}
.side-nav__item {
  position: relative;
}
.side-nav__item:not(:last-child) {
  margin-bottom: 1.8rem;
}
.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 3px;
  border-radius: 0 9px 9px 0;
  background-color: var(--color-primary);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
}
.side-nav__item:hover::before, .side-nav__item--active::before {
  transform: scaleY(1);
  width: 90%;
}
.side-nav__item:active::before {
  background-color: var(--color-primary-light);
}
.side-nav__link:link, .side-nav__link:visited {
  color: var(--color-Grey-light-1);
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  font-weight: 600;
  padding: 1.5rem 3rem;
}
.side-nav__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 2.5rem;
  fill: currentColor;
}

.legal {
  font-size: 1.2rem;
  color: var(--color-Grey-light-4);
  text-align: center;
  padding: 2.5rem;
}

.gallery {
  display: flex;
  overflow: hidden;
  border-radius: 16px;
}
.gallery__photo {
  width: 100%;
  display: block;
}

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-Grey-light-2);
}
.overview__heading {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.6rem 3.1rem;
}
.overview__stars {
  margin-right: auto;
  display: flex;
}
.overview__icon-star, .overview__icon-loaction {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--color-primary);
}
.overview__btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  padding-bottom: 2px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s;
}
.overview__btn-inline:hover {
  border-bottom: 1px solid var(--color-Grey-dark-1);
}
.overview__btn-inline:focus {
  outline: none;
  animation: Button 1s infinite;
}
@keyframes Button {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

/*# sourceMappingURL=style.css.map */
