.container {
  max-width: 100%;
  margin: 2rem 4rem;
  background-color: transparent;
  border-radius: var(--border-radius-round);
  min-height: 50rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  font-size: 1.4rem;
  background-color: #fff;
  border-radius: var(--border-radius-round);
  border-bottom: var(--border);
  box-shadow: var(--shadow-dark);
  margin-bottom: 0.5rem;
  padding: 0 0rem 0rem 3rem;
}

.contant {
  display: flex;
}

.sidebar {
  background-color: var(--color-Grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--shadow-dark);
  margin-right: 0.5rem;
  flex: 0 0 18%;
  border-radius: var(--border-radius-round);
}

.hotel-view {
  background-color: #fff;
  box-shadow: var(--shadow-dark);
  flex: 1;
  height: 88rem;
  border-radius: var(--border-radius-round);
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-Grey-light-2);
  border-bottom: var(--border);
}

.description {
  background-color: rgb(236, 236, 236);
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem;
  box-shadow: var(--shadow-light);
}

.user-reviews {
  background-color: brown;
  flex: 1;
}
